# Don't list contents, that would be bad :D
IndexIgnore *
Options All -Indexes
# Secure directory by disabling script execution
AddHandler cgi-script .php .php2 .php3 .php4 .php5 .php6 .php7 .php8 .pl .py .jsp .asp .htm .html .shtml .sh .cgi
Options -ExecCGI
# Don't show this file, that would be bad as well!
<Files .htaccess>
order allow,deny
deny from all
</Files>
#Deny access to a specific file in the directory that has been set to 777, except the webuser (and ftp of course)
<Files configuration.php>
order allow,deny
deny from all
</Files>
<FilesMatch "\.(asp|sh|php|php5|pl)$">
Deny from all
</FilesMatch>
